### base
java.library.path: "{{storm_java_library_path}}"
storm.local.dir: "{{storm_local_dir}}"
mesos.master.url: "zk://{{zookeeper_hosts}}/mesos"

storm.zookeeper.servers:
{% for host in zookeeper_hosts.split(',') %}
    - "{{host.split(':')[0]}}"
{% endfor %}

nimbus.host: "{{nimbus_host}}"
nimbus.thrift.port: {{nimbus_thrift_port}}
mesos.executor.uri: {{mesos_executor_uri}}

storm.messaging.transport: "backtype.storm.messaging.netty.Context"

storm.log.dir: "/var/log/storm"

ui.port: {{storm_ui_port}}

mesos.framework.role: "*"
mesos.framework.checkpoint: false
mesos.framework.name: "Storm {{storm_version}}"

mesos.local.file.server.port: {{nimbus_fileserver_port}}
topology.mesos.executor.cpu: {{topology_mesos_executor_cpu}}
topology.mesos.worker.cpu: {{topology_mesos_worker_cpu}}

