### base
mesos.master.url: "zk://{{zookeeper_hosts}}/mesos"

storm.zookeeper.servers:
{% for host in zookeeper_hosts.split(',') %}
    - "{{host.split(':')[0]}}"
{% endfor %}

nimbus.host: "{{nimbus_host}}"
nimbus.thrift.port: {{nimbus_thrift_port}}
mesos.executor.uri: "{{mesos_executor_uri}}"

storm.messaging.transport: "backtype.storm.messaging.netty.Context"

storm.local.dir: "/opt/storm_local"
storm.log.dir: "/var/log/storm"

ui.port: {{storm_ui_port}}

mesos.framework.role: "*"
mesos.framework.checkpoint: false
mesos.framework.name: "Storm 0.9.3"

